:root {
  --top-form-height: 20vh;
  --main-form-height: 35vh;
  --bottom-form-height: calc(100vh - calc(var(--top-form-height) + var(--main-form-height)));
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #d20a60;
  font-size: 4rem;
  /* background: -webkit-linear-gradient(to right, #d20a60, #22c2f7);
  background:  linear-gradient(to right, #d20a60, #22c2f7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

h2 {
  color: white;
  font-size: 3rem;
  margin-top: 25px;
}

h3 {
  color: white;
  font-size: 1.3rem;
  margin-top: 35px;
}

p {
  color: white;
  font-size: 1.3rem;
  margin-top: 10px;
}

a {
  color: #d20a60;
}

input {
  background-color: rgb(0, 0, 0);
  border: 3px solid white;
  border-radius: 15px;
  width: 300px;
  height: 15px;
  padding: 15px;
  color: white;
  font-size: 1.3rem;
}

input:focus {
  background-color: rgb(28, 28, 28);
  outline: none;
}

input:invalid {
  border: 3px solid rgb(251, 54, 54);
}

button {
  padding: 15px 40px;
  font-size: 1.6rem;
  background-color:rgb(0, 0, 0);
  color: #d20a60;
  border: 4px solid #d20a60;
  border-radius: 15px;
  font-weight: bold;
  transition: 0.2s;
}

button:hover {
  color: rgb(0, 0, 0);
  background-color: #d20a60;
}

.container {
  display: flex;
}

.bg-container {
  background-image: url(img/background.jpg);
  background-size: cover; 
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background-color: rgba(0, 0, 0, 0.605);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}

.form-container {
  width: 60vw;
}

/* Top section */
.top-form {
  background-color: rgb(0, 0, 0);
  height: var(--top-form-height);
  padding: 35px;
}

/* Middle section */
.main-form {
  background-color: rgb(0, 0, 0);
  height: var(--main-form-height);
  padding: 35px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

form div {
  margin: 15px 0;
}

form div label {
  color: white;
  display: block;
}

/* Bottom section */
.bottom-form {
  background-color: rgb(0, 0, 0);
  height: var(--bottom-form-height);
  padding: 35px;
}